body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: #FFFFFF;
}
.main-title {
        font-weight: 700;
        line-height: 1.07;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}
.section-team {
    background-color: #F4F4FD;
    }
.section-features-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.section-team-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.section-team-list-item {
    background-color: #FFFFFF;
}
.section-features-list-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-size: 20px;
        color: #2e2f42;
}
.section-features-list-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-team-list-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.section-team-list-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.section-portfolio-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.section-portfolio-list-item-title {
        font-size: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-portfolio-list-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-logo {
 font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}
.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404bbf;
}
.header-address-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: #434455;
}
.accent {
     font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4D5AE5;
}
.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        vertical-align: middle;
}
.main-button:hover,
.main-button:focus,
.main-button:active {
    cursor: pointer;
    background-color: #404bbf;
}
.header-address-link:hover,
.header-address-link:focus {
 color: #404BBF;
}
.section-main {
    background-color: #2E2F42;
}
.footer {
    background-color: #2E2F42;
}
.footer-logo {
     color: #F4F4FD;
     font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-transform: uppercase;
}
.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.section-features-list {
    list-style-type: none;
}
.section-team-list {
    list-style-type: none;
}
.section-portfolio-list {
    list-style-type: none;
}
ul {
    list-style-type: none;
}